$light-gray: #f4f4f6;
$white: #ffffff;
$grey: #a2a2a3;
$dark-grey: #454545;
$black: #181818;
$light-blue: #b9d6ed;
$ice-blue: #a2a8c9;
$sky-blue: #deffff;
$light-oragne: #f4d9ba;
$green: #d0e7d2;
$orange: #f39f5a;
